html, body
  height: 100%
  margin: 0
  padding: 0

#root
  height: 100%

#app
  display: flex
  justify-content: center

#content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 1
  width: 16rem
  margin-top: 7rem
  border-radius: .3rem
  background-color: #ffffff
